img {
  border-radius: 8px;
}
h1{

	text-align: center;
}
.e4{

	text-align: left;
}
.aaa{
	background-image: url(https://cdn.pixabay.com/photo/2018/03/02/18/29/snow-3193865_1280.jpg);
}
h3{ 
	color:white;
}
.e6{
	text-align: left;
}
.e7{
 text-align:center;
 }
.e8 {
	text-align:right;
}
